<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row mt-3">
        <div class="col-20 offset-2">
            <h3>Error: <%= err.statusCode %></h3><br/><br/>
            <p><%= err.message %></p><br/><br/>
            <a href="/listings" class="btn btn-dark edit-btn"  mt-3>Go Back to Listings</a>
        </div>
    </div>
</body>